<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
        <link rel="stylesheet" href="/styles/resets.css">
        <link rel="stylesheet" href="/styles/base.css">
        <link rel="stylesheet" href="/styles/header.css">
        <link rel="stylesheet" href="/styles/form.css">
        <link rel="stylesheet" href="/styles/footer.css">
    </head>

    <body>

        <header>
            <div class="">
                <strong>Natural Language Processing (NLP) - Sentiment Analysis</strong>
                <br>using meaningcloud.com's API
            </div>
            <br>
            
        </header>

        <main>
            <p>Please enter the URL of an article or blog post you want to anaylze with natural language sentiment analysis:</p>

            <section>
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <input id="name" type="text" name="input" value="" placeholder="www.url.com">
                    <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event), Client.nlp(event)" onsubmit="return Client.handleSubmit(event)">
                </form>
            <section>

            <section>
                <strong>Form Results:</strong>
                <div id="results"></div>
            </section>
        </main>

        <footer>
            <p>This is a footer</p>
        </footer>

    </body>
</html>
