header {
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 40px;
  h1 {
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.3em;
  }
  h2 {
    font-size: 1.2em;
    font-weight: 500;
  }
}
